/* Select2 theme */

/* Mark invalid Select2 */
.ng-dirty.ng-invalid > a.select2-choice {
  border-color: #d44950;
}

.select2-result-single {
  padding-left: 0;
}

.select2-locked > .select2-search-choice-close {
  display: none;
}

.select-locked > .ui-select-match-close {
  display: none;
}

body > .select2-container.open {
  z-index: 9999; /* The z-index Select2 applies to the select2-drop */
}

.select2 .ui-select-footer,
.select2 .ui-select-header {
  padding: 4px 10px;
}

.select2 .ui-select-footer {
  border-top: 1px solid #dfe5eb;
}

.select2 .ui-select-header {
  border-bottom: 1px solid #dfe5eb;
}

/* Handle up direction Select2 */
.ui-select-container[theme='select2'].direction-up .ui-select-match,
.ui-select-container.select2.direction-up .ui-select-match {
  border-radius: 4px; /* FIXME hardcoded value :-/ */
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ui-select-container[theme='select2'].direction-up .ui-select-dropdown,
.ui-select-container.select2.direction-up .ui-select-dropdown {
  border-radius: 4px; /* FIXME hardcoded value :-/ */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  border-top-width: 1px; /* FIXME hardcoded value :-/ */
  border-top-style: solid;

  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);

  margin-top: -4px; /* FIXME hardcoded value :-/ */
}

.ui-select-container[theme='select2'].direction-up
  .ui-select-dropdown
  .select2-search,
.ui-select-container.select2.direction-up .ui-select-dropdown .select2-search {
  margin-top: 4px; /* FIXME hardcoded value :-/ */
}

.ui-select-container[theme='select2'].direction-up.select2-dropdown-open
  .ui-select-match,
.ui-select-container.select2.direction-up.select2-dropdown-open
  .ui-select-match {
  border-bottom-color: #5897fb;
}

.ui-select-container[theme='select2']
  .ui-select-dropdown
  .ui-select-search-hidden,
.ui-select-container[theme='select2']
  .ui-select-dropdown
  .ui-select-search-hidden
  input {
  opacity: 0;
  height: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
